/*------------------------------------*\
  Config
\*------------------------------------*/

:root {
  /* Color */
  --ts-color-body: #{palette(gray, dark)};
  --ts-color-heading: #{palette(black)};
  --ts-color-link: var(--ts-color-heading);
  --ts-color-background: #{palette(white)};
  --ts-color-border: #{palette(gray, light)};
  --ts-color-muted: #{palette(gray)};
  --ts-color-subtle: #{palette(gray, xlight)};
  /* Font */
  --ts-font-family-serif: 'Georgia', 'Garamond', 'Times', serif;
  --ts-font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ts-font-family-sans-alt: 'Verdana', sans-serif;
  --ts-font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ts-font-weight-bold: 800;
  --ts-font-weight-regular: 300;
  --ts-font-size: calc(1rem + 0.15vw);
  --ts-font-size-xsmall: 0.7em;
  --ts-font-size-small: 0.8em;
  --ts-font-size-medium: 1em;
  --ts-font-size-large: 1.2em;
  --ts-font-size-xlarge: 1.4em;
  --ts-font-size-xxlarge: 1.8em;
  --ts-font-size-lede: var(--ts-font-size-large);
  /* Paragraph */
  --ts-paragraph-spacing: 0.9em;
  --ts-paragraph-indent: 1.5em;
  --ts-line-height-heading: 1.45;
  --ts-line-height-body: 1.55;
  /* Misc */
  --ts-border-double: 6px double var(--ts-color-border);
  --ts-border-single: 2px solid var(--ts-color-border);
  --ts-border: var(--ts-border-double);
  --ts-main-padding-inline: 10vw;
  --ts-banner-padding-inline: var(--ts-paragraph-indent);
}
